.main-container {
  margin-top: 80px;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);
  color: white;
  position: relative;
}

.title-section {
  margin-bottom: 40px;
}

.title-section h2 {
  font-size: 64px;
  font-weight: bold;
  margin: 0;
  background: linear-gradient(to left, #3B5F96, #FFFFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-section p {
  font-size: 20px;
  margin-top: 60px;
}

.description-section {
  background-color: #000;
  color: white;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100vh; /* 화면 전체 높이 */
}

.description-section .logo {
  margin-right: 20px;
}

.description-section .logo img {
  max-width: 500px;
  height: auto;
}

.description-section .text {
  max-width: 600px;
  text-align: left;
}

.description-section .text p {
  font-size: 18px;
  margin: 90px;
}

.scroll-down {
  position: absolute; 
  bottom: 20px; 
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scroll-text {
  font-size: 14px;
  color: rgb(162, 162, 162);
  margin-bottom: 10px;
}

.scroll-arrow {
  width: 50px;
  height: 50px;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
